<h2>Education</h2>
<div style="height: 10px"></div>

<!-- HUST -->
<table width="80%">
  <tbody>
    <tr>
      <td width="320">
        <img src="./images/institute/HKUST.jpg" width="260px" style="margin-left: 20px" alt="NUS-ECE logo">
      </td>
      <td>
        <p>
          <b>HongKong University of Science and Technology (HKUST)</b><br>
          <b style="font-size: 12px;">
            <a href="https://ece.hkust.edu.hk/">Department of Electrical & Computer Engineering (ECE)</a>
          </b>
        </p>
        <div style="font-size: 12px">
          Visiting Research Student 25'Summer @ HKUST-ECE
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- HUST -->
<table width="100%" style="margin-top: 20px;">
  <tbody>
    <tr>
      <td width="320">
        <img src="./images/institute/HUST.png" width="220px" style="margin-left: 40px" alt="USTC logo">
      </td>
      <td>
        <p>
          <b>Huazhong University of Science and Technology (HUST)</b><br>
          <b style="font-size: 12px;">
          </b>
        </p>
        <div style="font-size: 12px">
          B.Eng. in Biomedical Engineering
        </div>
        <div style="font-size: 12px">
           </div>
        <div style="font-size: 12px">GPA:4.2/5,Rank:6/54</div>
           </div>
        <div style="font-size: 12px">National Scholar (国家奖学金, <span style="color: red;">top 0.4%</span>)</div>
        </div>
        <div style="font-size: 12px">Sep. 2022 - Jun. 2026 (expected)</div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Huoqiu No.1 Middle School -->
<table width="100%" style="margin-top: 20px;">
  <tbody>
    <tr>
      <td width="320">
        <img src="./images/institute/hqyz.jpg" width="220px" style="margin-left: 40px" alt="Huoqiu No.1 Middle School logo">
      </td>
      <td>
        <p><b>Anhui Provence Huoqiu No.1 Middle School (霍邱一中)</b></p>
        <p><b>High School Student Majoring in Science</b></p>
        <div style="font-size: 12px">Sep. 2019 - Jun. 2022</div>
      </td>
    </tr>
  </tbody>
</table>
