<h2>Education</h2>
	<div style="height: 10px"></div>
	<table id="tbPublications" width="100%">
		<tbody>
		<tr>
			<td width="320">
			<img src="./files/institute/NUS-ECE.png" width="260px" style="margin-left: 20px">
			</td>				
			<td>
				<p><b>National University of Singapore (NUS)</b><br><b style="font-size: 12px;"><a href="https://cde.nus.edu.sg/ece/">Department of Electrical & Computer Engineering (ECE)</a></b></p>
				<div style="font-size: 12px">Exchanging Research Student 25'Fall @ NUS-ECE, supervised by Prof. <a href="https://xingyul.github.io/">Xingyu Liu</a>.</div>
			</td>
		</tr>
		</tbody>
	</table>
	<table id="tbPublications" width="100%" style="margin-top: 0px">
		<table>
			<tr>
				<td width="320">
					<img src="./files/institute/ustc.png" width="220px" style="margin-left: 40px">
				</td>				
				<td>
					<p><b>University of Science and Technology of China(USTC)</b><br><b style="font-size: 12px;"><a href="https://sme.ustc.edu.cn/">School of Microelectronics(SME)</a></b></p>
					<div style="font-size: 12px">B.Eng. (currently studying) in Electronic Science and Technology (Excellent Class)</div>
					<div style="font-size: 12px"><i> Star of Inspiration (励学之星, <i style="color: red; display: inline;">top 0.1%</i>)</i>, </div>
					<div style="font-size: 12px">Sep. 2022 - Jun. 2026 (expected)<div>
				</td>
			</tr>
		</tbody>
	</table>

        <table id="tbPublications" width="100%" style="margin-top: 0px">
		<table>
			<tr>
				<td width="320">
					<img src="./files/institute/huoqiu.jpg" width="220px" style="margin-left: 40px">
				</td>				
				<td>
					<p><b>Huoqiu No.1 Middle School(霍邱一中)</b><br><b style="font-size: 12px;"></b></p>
					<div style="font-size: 12px">Sep. 2019 - Jun. 2022 <div>
				</td>
			</tr>
		</tbody>
	</table>
