<head>
  <meta charset="utf-8">
  <!-- SEO Metadata -->
  {% include seo.html %}
  <!-- Mobile Optimization -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- JavaScript Detection -->
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  </script>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/assets/css/main.css"> <!-- 使用绝对路径 -->
  <!-- ClearType for Windows -->
  <meta http-equiv="cleartype" content="on">
  <!-- Base URL for links -->
  <base target="_blank">
</head>
