<h2>Project Experience</h2>
<div style="height: 10px"></div>

<table id="tbPublications" width="100%" cellspacing='0'>
	<tbody> 
	<!--########################-->
	<tr style="width: 100%;" style="padding: 10px">
		<td width="200px" style="padding-top: 10px; padding-bottom: 10px">
			<div class="container">
				<img src="./images/research" width="180px" style="box-shadow: 4px 4px 4px #888888;  margin-left: 10px; margin-right: 10px;">
				<!-- <div class="arxiv-label" style="margin-left: 10px; width: 80px;">Under Review</div> -->
			</div>
		</td>				
		<td style="padding: 10px">
			<!-- <div style="height: 10px"></div> -->
			<b style="font-size: 15px; color: #456fc3;">TDC circuits design</b>
			<div style="height: 5px;"></div>
			<div style="font-size: 12px">Supervisor: <a href="https://sme.ustc.edu.cn/2023/0822/c30996a610384/page.htm" target="_blank">Prof. Qingguo Xie</a></div>
			<div style="height: 5px;"></div>
			<div style="font-size: 12px">10/2024 ~ 06/2025, HUST & USTC </div>
			<div style="height: 5px;"></div>
			<div style="font-size: 12px; color: gray;">Participated in the design of the core Time-to-Digital Converter (TDC) module for a novel fully digital monolithic silicon photomultiplier (MT-SiPM). Completed circuit design for pulse rising/falling edge detection, delay control units, and measurement channels, and is currently designing the measurement precision control module. Additionally, proposed a tree-shaped symmetrical routing scheme to address the signal inconsistency in the multi-channel array of PET detectors. This scheme significantly reduces delay differences between channels caused by RC parasitic effects. Before joining the project team, I also completed scientific research training (primarily on Cadence Virtuoso usage) and ultimately finished the design of an operational amplifier.</div>
			<div style="height: 5px"></div>			
		</td>
	</tr>
	</tbody>
</table>


<table id="tbPublications" width="100%" cellspacing='0'>
	<tbody> 
	<!--########################-->
	<tr style="width: 100%;" style="padding: 10px">
		<td width="200px" style="padding-top: 10px; padding-bottom: 10px">
			<div class="container">
				<img src="./images/research" width="180px" style="box-shadow: 4px 4px 4px #888888;  margin-left: 10px; margin-right: 10px;">
				<!-- <div class="arxiv-label" style="margin-left: 10px; width: 80px;">Under Review</div> -->
			</div>
		</td>				
		<td style="padding: 10px">
			<!-- <div style="height: 10px"></div> -->
			<b style="font-size: 15px; color: #456fc3;">Biomedical signal classification</b>
			<div style="height: 5px;"></div>
			<div style="font-size: 12px">Supervisor: <a href="http://faculty.hust.edu.cn/WANGZHIWEI/zh_CN/index.htm" target="_blank">Prof. Zhiwei Wang</a></div>
			<div style="height: 5px;"></div>
			<div style="font-size: 12px">04/2024 ~ 07/2024, HUST WNLO </div>
			<div style="height: 5px;"></div>
			<div style="font-size: 12px; color: gray;">Based on electrocardiogram (ECG) and electroencephalogram (EEG) multimodal data from both depression patients and healthy individuals, Support Vector Machine (SVM) and Convolutional Neural Network-Long Short-Term Memory (CNN-LSTM) models were established. Innovatively proposing the concept of “depressive episode proportion,” this approach addresses the issue of imbalanced sample sizes and effectively achieves screening and detection of early-stage depression in adolescents.</div>
			<div style="height: 5px"></div>
			<div style="font-size: 12px"><a href="_pages/BME2024.pptx" target="_blank">Defense PPT in Chinese</a></div>
			<div style="height: 5px"></div>
		</td>
	</tr>
	</tbody>
</table>
